@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.light {
  background-color: red;
  /* box-shadow: 0 0 10px transparentize(red, 0.5); */
  filter: drop-shadow(0 0 2px red);
  animation: blink-effect 1.3s step-end infinite;
}
