{
  "singleQuote": true,

  "semi": false,

  "useTabs": false,

  "tabWidth": 2,

  "trailingComma": "all",

  "printWidth": 80,

  "endOfLine": "auto",

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react(/.*)?$",
    "^@layouts/(.*)&",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@stores/(.*)$",
    "^@tanstack/(.*)$",
    "^@hooks/(.*)$",
    "^@apis/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^[./]",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
