@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBMPlexSansKR-Regular';
}
